.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  position: absolute;
  top: 10%;
  left: 0;
}

.introContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.chatContainer {
  background-color: #6E0924;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  min-width: 360px;
  max-width: 800px;
  height: 100%;
  color: white;
  font-size: 18px;
  position: relative;
}

.chatHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.chatHeader .history-icon {
  color: white;
  font-size: 1.5em; 
  cursor: pointer;
}

.chatContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: none; 
  align-items: center;
  background-color: #6E0924;
  padding: 10px;
  border-top: 1px solid #ddd;
  width: 100%;
  flex-shrink: 0; 
  position: relative;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  max-width: 80%;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
}

.message.me {
  align-self: flex-end;
  background-color: #f8fafc;
  color: #000;
}

.message.bot {
  align-self: flex-start;
  background-color: #f8fafc;
  color: #333;
}

input[type="text"] {
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  background-color: whitesmoke;
  color: #000;
  flex-grow: 1;
  margin-right: 10px;
}

input:focus {
  outline: none;
  border-color: black;
  background-color: #f8fafc;  
}

button {
  padding: 10px;
  background-color: #6E0924;
  color: #f8fafc;
  border: none;
  border-radius: 80%;
  cursor: pointer;
  font-size: 24px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #ac153a;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

h1 {
  font-size: 28px;
  text-shadow: 2px 2px #000;
  text-align: center;
  margin: 0;
}

p {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

#introduction {
  font-size: 12px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

#loading {
  padding-bottom: 10px;
  display: none;
}

#introMessage {
  font-size: 25px;
  margin: 0;
  text-align: left;
}

#introQuestion {
  display: flex;
  flex-direction: column;
}

#startBtn {
  border: #000;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 20px;
}

#noBtn {
  border: #000;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 20px;
}

label {
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

#chat {
  display: none;
}

#settingsIcon {
  transform: scale(1.5);
}
