<%- include('templates/header') %>

<!-- * @file Generic Error page
 * @description This file renders a generic error page with a message indicating something went wrong and a link to return to the home page.
  -->


<div class="container mx-auto flex items-center justify-center min-h-screen">
    <div class="wrapper">
        <div class="box bg-white p-8 rounded shadow-md">
            <h1 class="text-4xl font-bold text-center">Oops, looks like this page does not exist.</h1>
            <p class="text-gray-700 text-center"></p>
            <div class="text-center mt-4">
                <a href="/home" class="text-blue-500">Go home</a>
            </div>
        </div>
    </div>
</div>

<%- include('templates/footer') %>
