<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: "#6E0924",
                        secondary: "#D3D0CB",
                    },
                },
            },
        }
    </script>
    <title>Document</title>
</head>

<body class="bg-gradient-to-b from-white to-primary">
    <header class="sticky top-0">
        <div class="flex flex-row justify-between font-bold p-3 bg-primary items-center text-white h-[60px]">
            <div><a id="cancelAddGroup" href="/home">
                    Cancel
                </a></div>

            <div class="">
                <button type="submit" form="addGroupForm" id="confirmAddGroup">Done</button>
            </div>
        </div>
    </header>

    <div>
        <form action="" method="post">
            <div class="fixed top-14 w-full bg-white z-10">
                <div class="m-2 p-3 outline outline-1 rounded-xl">
                    <label class="font-semibold" for="selectedGroup">For:</label>
                    <select class="float-right px-4" name="selectedGroup" id="selectedGroup" placeholder="Group Name">
                        <option value="group1">Group 1</option>
                        <option value="group2">Group 2</option>
                        <option value="group3">Group 3</option>
                        <option value="group4">Group 4</option>
                        <option value="group5">Group 5</option>
                    </select>
                </div>
                <div class="flex flex-row m-2 p-3 outline outline-1 rounded-xl">
                    <div class="flex flex-col">
                        <input type="date" id="selectedDate" name="selectedDate"
                            class="focus:outline-none focus:border-b-2 px-2 m-1">
                        <input type="text" id="selectedExpenseName" name="selectedExpenseName"
                            placeholder="Expense Name" class="focus:outline-none focus:border-b-2 px-2 m-1">
                        <input type="number" id="selectedAmountExpense" name="selectedExpenseAmount" min="0.01"
                            placeholder="Expense Total" class="focus:outline-none focus:border-b-2 px-2 m-1">
                    </div>
                    <img class="flex justify-center items-center ml-auto pr-5"
                        src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="" height="90" width="90">
                </div>
                <div class="bg-primary mt-4 p-3 rounded-t-3xl">
                    <div class="flex flex-row text-white">
                        <p class="font-semibold text-3xl px-4">Split</p>
                        <div class="ml-auto  flex items-center">
                            <label class="font-semibold my-2 text-base" for="selectedPaidBy">Paid By:</label>
                            <select class="float-right px-4 rounded-lg m-2 text-black" name="selectedPaidBy"
                                id="selectedPaidBy" placeholder="Select User">
                                <option class="text-black" value="user1">User 1</option>
                                <option class="text-black" value="user2">User 2</option>
                                <option class="text-black" value="user3">User 3</option>
                                <option class="text-black" value="user4">User 4</option>
                                <option class="text-black" value="user5">User 5</option>
                                <option class="text-black" value="user6">User 6</option>
                                <option class="text-black" value="user7">User 7</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-black mt-2 flex mx-2 justify-center">
                        <div class="flex flex-row outline outline-1 rounded-full w-full justify-center bg-white">
                            <button class="w-1/2 p-1 text-white bg-[#4b061a] rounded-full"
                                id="showEqualExpense">Equal</button>
                            <button class="w-1/2 p-1 rounded-full" id="showPercentageExpense">Percentage</button>
                            <button class="w-1/2 p-1 rounded-full" id="showManualExpense">Manual</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="splitExpenseEqually" class="overflow-auto bg-primary mt-[300px] mb-[70px]">
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 flex flex-row items-center p-2 w-full">
                        <input type="checkbox" id="user1" name="user1" value="user1">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 1</p>
                        </div>
                        <p class="w-full font-semibold text-xl text-right focus:outline-none focus:border-b-2 px-2 text-gray-400"
                            type="number" id="user1Amount" name="user1Amount" min="0" placeholder="$0.00">$0.00</p>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 mt-0 flex flex-row items-center p-2 w-full">
                        <input type="checkbox" id="user2" name="user2" value="user2">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 2</p>
                        </div>
                        <p class="w-1/2 font-semibold text-xl text-right ml-8 focus:outline-none focus:border-b-2 px-2 text-gray-400"
                            type="number" id="user2Amount" name="user2Amount" min="0" placeholder="$0.00">$0.00</p>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 mt-0 flex flex-row items-center p-2 w-full">
                        <input type="checkbox" id="user3" name="user3" value="user3">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 3</p>
                        </div>
                        <p class="w-1/2 font-semibold text-xl text-right ml-8 focus:outline-none focus:border-b-2 px-2 text-gray-400"
                            type="number" id="user3Amount" name="user3Amount" min="0" placeholder="$0.00">$0.00</p>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 mt-0 flex flex-row items-center p-2 w-full">
                        <input type="checkbox" id="user4" name="user4" value="user4">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 4</p>
                        </div>
                        <p class="w-1/2 font-semibold text-xl text-right ml-8 focus:outline-none focus:border-b-2 px-2 text-gray-400"
                            type="number" id="user4Amount" name="user4Amount" min="0" placeholder="$0.00">$0.00</p>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 mt-0 flex flex-row items-center p-2 w-full">
                        <input type="checkbox" id="user5" name="user5" value="user5">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 5</p>
                        </div>
                        <p class="w-1/2 font-semibold text-xl text-right ml-8 focus:outline-none focus:border-b-2 px-2 text-gray-400"
                            type="number" id="user5Amount" name="user5Amount" min="0" placeholder="$0.00">$0.00</p>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 mt-0 flex flex-row items-center p-2 w-full">
                        <input type="checkbox" id="user6" name="user6" value="user6">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 6</p>
                        </div>
                        <p class="w-1/2 font-semibold text-xl text-right ml-8 focus:outline-none focus:border-b-2 px-2 text-gray-400"
                            type="number" id="user6Amount" name="user6Amount" min="0" placeholder="$0.00">$0.00</p>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 mt-0 flex flex-row items-center p-2 w-full">
                        <input type="checkbox" id="user7" name="user7" value="user7">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 7</p>
                        </div>
                        <p class="w-1/2 font-semibold text-xl text-right ml-8 focus:outline-none focus:border-b-2 px-2 text-gray-400"
                            type="number" id="user7Amount" name="user7Amount" min="0" placeholder="$0.00">$0.00</p>
                    </div>
                </div>
            </div>

            <div id="splitExpensePercentage" class="overflow-auto bg-primary mt-[300px] mb-[70px] hidden">
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 flex flex-row items-center p-2">
                        <input type="checkbox" id="user1" name="user1" value="user1">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 1</p>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row">
                                <input
                                    class="ml-auto w-1/2 font-semibold text-xl text-right focus:outline-none focus:border-b-2 px-2"
                                    type="number" id="user2Percentage" name="user1Percentage" min="0" placeholder="0">
                                <p class="text-gray-400 text-xl font-semibold px-2">%</p>
                            </div>
                            <span class="ml-auto text-sm text-gray-500" id="user1Amount" name="user1Amount">User 1
                                Total</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 mt-0 flex flex-row items-center p-2">
                        <input type="checkbox" id="user2" name="user2" value="user2">
                        <div class="w-3/4 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 2</p>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row">
                                <input
                                    class="ml-auto w-1/2 font-semibold text-xl text-right focus:outline-none focus:border-b-2 px-2"
                                    type="number" id="user2Percentage" name="user2Percentage" min="0" placeholder="0">
                                <p class="text-gray-400 text-xl font-semibold px-2">%</p>
                            </div>
                            <span class="ml-auto text-sm text-gray-500" id="user1Amount" name="user1Amount">User 2
                                Total</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 mt-0 flex flex-row items-center p-2">
                        <input type="checkbox" id="user3" name="user3" value="user3">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 3</p>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row">
                                <input
                                    class="ml-auto w-1/2 font-semibold text-xl text-right focus:outline-none focus:border-b-2 px-2"
                                    type="number" id="user3Percentage" name="user3Percentage" min="0" placeholder="0">
                                <p class="text-gray-400 text-xl font-semibold px-2">%</p>
                            </div>
                            <span class="ml-auto text-sm text-gray-500" id="user3Amount" name="user3Amount">User 3
                                Total</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 mt-0 flex flex-row items-center p-2">
                        <input type="checkbox" id="user4" name="user4" value="user4">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 4</p>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row">
                                <input
                                    class="ml-auto w-1/2 font-semibold text-xl text-right focus:outline-none focus:border-b-2 px-2"
                                    type="number" id="user4Percentage" name="user4Percentage" min="0" placeholder="0">
                                <p class="text-gray-400 text-xl font-semibold px-2">%</p>
                            </div>
                            <span class="ml-auto text-sm text-gray-500" id="user4Amount" name="user4Amount">User 4
                                Total</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 mt-0 flex flex-row items-center p-2">
                        <input type="checkbox" id="user5" name="user5" value="user5">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 5</p>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row">
                                <input
                                    class="ml-auto w-1/2 font-semibold text-xl text-right focus:outline-none focus:border-b-2 px-2"
                                    type="number" id="user5Percentage" name="user5Percentage" min="0" placeholder="0">
                                <p class="text-gray-400 text-xl font-semibold px-2">%</p>
                            </div>
                            <span class="ml-auto text-sm text-gray-500" id="user5Amount" name="user5Amount">User 5
                                Total</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 mt-0 flex flex-row items-center p-2">
                        <input type="checkbox" id="user6" name="user6" value="user6">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 6</p>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row">
                                <input
                                    class="ml-auto w-1/2 font-semibold text-xl text-right focus:outline-none focus:border-b-2 px-2"
                                    type="number" id="user6Percentage" name="user6Percentage" min="0" placeholder="0">
                                <p class="text-gray-400 text-xl font-semibold px-2">%</p>
                            </div>
                            <span class="ml-auto text-sm text-gray-500" id="user6Amount" name="user6Amount">User 6
                                Total</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 mt-0 flex flex-row items-center p-2">
                        <input type="checkbox" id="user7" name="user7" value="user7">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 7</p>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row">
                                <input
                                    class="ml-auto w-1/2 font-semibold text-xl text-right focus:outline-none focus:border-b-2 px-2"
                                    type="number" id="user7Percentage" name="user7Percentage" min="0" placeholder="0">
                                <p class="text-gray-400 text-xl font-semibold px-2">%</p>
                            </div>
                            <span class="ml-auto text-sm text-gray-500" id="user7Amount" name="user7Amount">User 7
                                Total</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="splitExpenseManually" class="overflow-auto bg-primary mt-[300px] mb-[70px] hidden">
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 flex flex-row items-center p-2 w-full">
                        <input type="checkbox" id="user1" name="user1" value="user1">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 1</p>
                        </div>
                        <div class="relative w-1/2">
                            <input type="number" id="user1Amount" name="user1Amount" min="0"
                                class="text-xl font-semibold px-2 text-right focus:outline-none focus:border-b-2 z-0 w-full ml-auto"
                                placeholder="0.00">
                            <div class="absolute inset-y-0 start-0 flex items-center">
                                <span class="text-gray-400 text-xl font-semibold">$</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 mt-0 flex flex-row items-center p-2 w-full">
                        <input type="checkbox" id="user2" name="user2" value="user2">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 2</p>
                        </div>
                        <div class="relative w-1/2">
                            <input type="number" id="user2Amount" name="user2Amount" min="0"
                                class="text-xl font-semibold px-2 text-right focus:outline-none focus:border-b-2 w-full z-0"
                                placeholder="0.00">
                            <div class="absolute inset-y-0 start-0 flex items-center">
                                <span class="text-gray-400 ml-auto text-xl font-semibold">$</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 mt-0 flex flex-row items-center p-2 w-full">
                        <input type="checkbox" id="user3" name="user3" value="user3">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 3</p>
                        </div>
                        <div class="relative w-1/2">
                            <input type="number" id="user3Amount" name="user3Amount" min="0"
                                class="text-xl font-semibold px-2 text-right focus:outline-none focus:border-b-2 w-full z-0"
                                placeholder="0.00">
                            <div class="absolute inset-y-0 start-0 flex items-center">
                                <span class="text-gray-400 ml-auto text-xl font-semibold">$</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 mt-0 flex flex-row items-center p-2 w-full">
                        <input type="checkbox" id="user4" name="user4" value="user4">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 4</p>
                        </div>
                        <div class="relative w-1/2">
                            <input type="number" id="user4Amount" name="user4Amount" min="0"
                                class="text-xl font-semibold px-2 text-right focus:outline-none focus:border-b-2 w-full z-0"
                                placeholder="0.00">
                            <div class="absolute inset-y-0 start-0 flex items-center">
                                <span class="text-gray-400 ml-auto text-xl font-semibold">$</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 mt-0 flex flex-row items-center p-2 w-full">
                        <input type="checkbox" id="user5" name="user5" value="user5">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 5</p>
                        </div>
                        <div class="relative w-1/2">
                            <input type="number" id="user5Amount" name="user5Amount" min="0"
                                class="text-xl font-semibold px-2 text-right focus:outline-none focus:border-b-2 w-full z-0"
                                placeholder="0.00">
                            <div class="absolute inset-y-0 start-0 flex items-center">
                                <span class="text-gray-400 ml-auto text-xl font-semibold">$</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 mt-0 flex flex-row items-center p-2 w-full">
                        <input type="checkbox" id="user6" name="user6" value="user6">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 6</p>
                        </div>
                        <div class="relative w-1/2">
                            <input type="number" id="user6Amount" name="user6Amount" min="0"
                                class="text-xl font-semibold px-2 text-right focus:outline-none focus:border-b-2 w-full z-0"
                                placeholder="0.00">
                            <div class="absolute inset-y-0 start-0 flex items-center">
                                <span class="text-gray-400 ml-auto text-xl font-semibold">$</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="bg-white rounded-2xl m-2 mt-0 flex flex-row items-center p-2 w-full">
                        <input type="checkbox" id="user7" name="user7" value="user7">
                        <div class="w-1/2 flex flex-row items-center">
                            <img class="p-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt=""
                                height="50" width="50">
                            <p class="font-semibold px-2">User 7</p>
                        </div>
                        <div class="relative w-1/2">
                            <input type="number" id="user7Amount" name="user7Amount" min="0"
                                class="text-xl font-semibold px-2 text-right focus:outline-none focus:border-b-2 w-full z-0"
                                placeholder="0.00">
                            <div class="absolute inset-y-0 start-0 flex items-center">
                                <span class="text-gray-400 ml-auto text-xl font-semibold">$</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <script src="/scripts/addExpenses.js"></script>
    <%- include('templates/footer') %>