<%- include('templates/headTags') %>
    <header class="sticky top-0 ">
            <div class="flex flex-row justify-between font-bold p-3 bg-primary items-center text-white h-[60px]">
                <div><a id="cancelAddGroup" href="/home">
                    Cancel
                </a></div>
            
                <div class="">
                    <button type="submit" form="addGroupForm" id="confirmAddGroup">Done</button>
                </div>
            </div>
    </header>
    <form action="/addGroup" method="post" id="addGroupForm" enctype="multipart/form-data" class="w-full ">
        <div class="flex flex-col gap-5 w-full">
            <div class="flex flex-row gap-3 m-2 mt-5">
                <div>
                    <label for="groupImage" class="cursor-pointer">
                        <img src="/images/homepageIconsAndPlaceholders/addGroup.svg" class="w-14 h-14" alt="Add photo" id="previewImage">
                    <input id="groupImage" type="file" name="groupImage" capture class="hidden">
                </div>
                <div class="flex flex-col w-full">
                    <label for="groupName">Group name</label>
                    <input type="text" id="groupName" name="groupName" class="w-full border-b p-1 focus:outline-none focus:border-black">
                    <span class="text-red-700 hidden" id="emptyGroupNameWarning">Please enter a group name</span>
                </div>
            </div>
            <div class="flex flex-col w-full p-3 gap-2 mb-[70px]">
                <div class="" class=""><span class="text-2xl">Add members</span></div>
                <span class="text-red-700 hidden" id="emptyFriendWarning">Please select at least one friend</span>
                <ul class="w-full flex flex-col gap-2" id="groupFriendChoices">
                    <li class="flex flex-row gap-1 justify-between items-center p-3 w-full bg-secondary rounded-xl" id="selectFriend11111"><div class="flex flex-row items-center gap-4">
                        <img class="w-8 h-8 ml-auto rounded-full hover:cursor-pointer"
                        src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="">
                        <div>Friend 1</div>
                    </div><span id="addFriend11111">+</span></li>
                    <li class="flex flex-row gap-1 justify-between items-center p-3 w-full bg-secondary rounded-xl" id="selectFriend22222"><div class="flex flex-row items-center gap-4">
                        <img class="w-8 h-8 ml-auto rounded-full hover:cursor-pointer"
                        src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="">
                        <div>Friend 2</div>
                    </div><span id="addFriend22222">+</span></li>
                    <li class="flex flex-row gap-1 justify-between items-center p-3 w-full bg-secondary rounded-xl" id="selectFriend33333"><div class="flex flex-row items-center gap-4">
                        <img class="w-8 h-8 ml-auto rounded-full hover:cursor-pointer"
                        src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="">
                        <div>Friend 3</div>
                    </div><span id="addFriend33333">+</span></li>
                </ul>
                <input type="textBox" name="friends" id="friendInput" class="hidden" value="">
            </div>            
        </div>
    </form> 
    
    <script src="/scripts/addGroup.js"></script>
    <%- include('templates/footer') %>