<%- include('templates/headtags') %>
<link rel="stylesheet" href="/style/styleAi.css">
<div id="wrapper" class = "pb-[60px]">
    <div id="chatContainer" class = "">
        <div id="chatHeader" class = "shadow-lg flex flex-row items-center justify-between w-full bg-primary h-16">
            <div class>
                <i href="#" class="fas my-2 mx-1 fa-history history-icon"></i>
            </div>
            <div class = "">
                <p id="toDo" class = "translate-x-4 text-lg hidden text-center mx-auto font-semibold">Ask me anything!</p>
            </div>
            <div>
                <button id="saveBtn" class = "hidden font-semibold text-lg" onclick="saveConversation()">Save</button>
            </div>
        </div>
        <div id="chatContent" class = "">
            <div id="introContainer" class = "h-full flex flex-col items-center justify-center text-black">
                <p id="introMessage" class = "text-xl font-bold">Heads up!</p>
                <p id="introMessage" class = "text-center text-lg pt-4" >This AI advisor can provide personalized advice, but it will need
                    some information from you first.</p>
                <p id="introMessage" class = "text-center text-lg pt-4" >Are you comfortable sharing that information?</p>
                    
            </div>
            <div id="introQuestion">
                <button id="startBtn" class = "text-lg font-semibold shadow-lg" onclick="startChat()">Yes</button>
            </div>
            <div id="chat" class="overflow-auto">
                
                <div class="messages bg-primary" id="messageBox" data-src="<%= username %>"></div>
                <div id="loading" class="fa-2x"><i class="fa-solid fa-spinner fa-spin-pulse"></i></div>
            </div>
        </div>
        <div class="shadow-lg" id="inputContainer">
            <input type="text" id="userInput" placeholder="Type here">
            <button id="sendBtn" onclick="sendMessage()"><i class="fa-regular text-xl fa-message"></i></button>
        </div>
    </div>
</div>
</div>
<script src="/scripts/ai.js"></script>
<%- include('templates/footer') %>
