<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>PennyWise</title>
    <link rel="stylesheet" href="/style/style_ai.css">
</head>


<body>
    <header class="sticky top-0 ">
        <div class="flex flex-row justify-between font-bold p-3  bg-[#6E0924]">
            <img src="/navbarIcons/logo.png" class="w-8 h-8 hover:cursor-pointer" id="logo" alt="logo">
            <div class="">
                <button id="settingsButton" href=""><img id="settingsIcon" src="/navbarIcons/settings.svg"
                        class="w-9 h-9" alt=""></button>
            </div>
        </div>
    </header>
        <div class="chat-container">
            <div class="chat-content">
                <div id="intro-container" class="intro-container">
                    <h1></h1>
                    <p id="introduction"></p>
                    <p id="intro-message"><strong>Heads up!</strong></p>
                    <br>
                    <p class="" id="intro-message">This AI advisor can provide personalized advice, but it will need
                        some
                        information from you first. Are you comfortable sharing that information?</p>
                </div>
                <div id="intro-question">
                    <button id="start-btn" onclick="startChat()">Yes</button>
                    <button id="start-btn">No</button>
                </div>
                <div id="chat">
                    <p>Ask me anything!</p>
                    <div class="messages"></div>
                    <div id="loading" class="fa-2x"><i class="fa-solid fa-spinner fa-spin-pulse"></i></div>
                    <div class="input-container" style="display: flex">
                        <input type="text" id="user-input" placeholder="Type here">
                        <button id="send-btn" onclick="sendMessage()"><i class="fa-regular fa-message"></i></button>
                    </div>
                </div>
            </div>
        </div>
    <footer class="fixed w-full bottom-0 rounded-3xl">
        <div class="grid grid-cols-5 bg-[#6E0924] rounded-t-3xl pt-2">
            <div class="flex flex-col mb-1">
                <button id="homepageButton" href="" class=" flex justify-center py-1 pt-2 rounded-t-3xl"> <img
                        src="/navbarIcons/groups.svg" id="homepageIcon" class="w-8 h-8" alt=""></button>
                <label id="homepageLabel" for="homepageButton" class="text-xs text-center text-white">Home</label>
            </div>
            <div class="flex flex-col mb-1">
                <button id="personalButton" href="" class="flex justify-center py-[2px] pt-[10px] bg-[#6E0924]"><img
                        src="/navbarIcons/personal.svg" id="personalIcon" class="w-8 h-8" alt=""></button>
                <label id="personalLabel" for="personalButton" class="text-xs text-center text-white">Personal</label>
            </div>
            <div class="flex flex-col mb-1">
                <button id="addExpenseButton" href=""
                    class="flex justify-center py-1 pt-2 bg-[#6E0924]  rounded-t-3xl"><img
                        src="/navbarIcons/addExpense.svg" id="addExpenseIcon" class="w-8 h-8" alt=""></button>
                <label id="addExpenseLabel" for="addExpenseButton" class="text-xs text-center text-white">Add</label>
            </div>
            <div class="flex flex-col mb-1">
                <button id="recentButton" href="" class="flex justify-center py-1 pt-2 bg-[#6E0924]"><img
                        src="/navbarIcons/recent.svg" id="recentIcon" class="w-8 h-8" alt=""></button>
                <label id="RecentLabel" for="recentButton" class="text-xs text-center text-white">Recent</label>
            </div>
            <div class="flex flex-col mb-1">
                <button id="adviceButton" href="" class="flex justify-center py-1 pt-2 bg-[#6E0924] rounded-t-3xl"><img
                        src="/navbarIcons/advice.svg" class="w-8 h-8" id="adviceIcon" alt=""></button>
                <label id="adviceLabel" for="adviceButton" class="text-xs text-center text-white">Advice</label>
            </div>

        </div>
    </footer>

    <script src="/scripts/ai.js"></script>
</body>

</html>