<%- include('templates/header') %>
<body>
    <div class="chat-container">
        <div class="chat-content">
            <div id="intro-container" class="intro-container">
                <h1></h1>
                <p id="introduction"></p>
                <p id="intro-message"><strong>Heads up!</strong></p>
                <br>
                <p class="" id="intro-message">This AI advisor can provide personalized advice, but it will need
                    some
                    information from you first. Are you comfortable sharing that information?</p>
            </div>
            <div id="intro-question">
                <button id="start-btn" onclick="startChat()">Yes</button>
                <button id="start-btn">No</button>
            </div>
            <div id="chat">
                <p>Ask me anything!</p>
                <div class="messages"></div>
                <div id="loading" class="fa-2x"><i class="fa-solid fa-spinner fa-spin-pulse"></i></div>
                <div class="input-container" style="display: flex">
                    <input type="text" id="user-input" placeholder="Type here">
                    <button id="send-btn" onclick="sendMessage()"><i class="fa-regular fa-message"></i></button>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/ai.js"></script>
<%- include('templates/footer') %>