<%- include('templates/header') %>
<link rel="stylesheet" href="/style/styleAi.css">
<div class="wrapper">
    <div class="chatContainer">
        <div class="chatHeader">
            <i href="#" class="fas fa-history history-icon"></i>
        </div>
        <div class="chatContent">
            <div id="introContainer" class="introContainer">
                <p id="introMessage"><strong>Heads up!</strong></p>
                <br>
                <p id="introMessage">This AI advisor can provide personalized advice, but it will need
                    some information from you first. Are you comfortable sharing that information?</p>
            </div>
            <div id="introQuestion">
                <button id="startBtn" onclick="startChat()">Yes</button>
                <button id="noBtn" onclick="noStartChat()">No</button>
            </div>
            <div id="chat">
                <p>Ask me anything!</p>
                <div class="messages"></div>
                <div id="loading" class="fa-2x"><i class="fa-solid fa-spinner fa-spin-pulse"></i></div>
            </div>
        </div>
        <div class="inputContainer" id="inputContainer">
            <input type="text" id="userInput" placeholder="Type here">
            <button id="sendBtn" onclick="sendMessage()"><i class="fa-regular fa-message"></i></button>
        </div>
        <button id="saveBtn" onclick="saveConversation()">Save</button>
    </div>
</div>
<script src="/scripts/ai.js"></script>
<script>
    function saveConversation() {
        fetch('/ai/saveConversation', { method: 'POST' })
            .then(response => {
                if (response.ok) {
                    console.log('Conversation saved successfully.');
                    alert('Conversation saved successfully.');
                } else {
                    console.error('Failed to save conversation.');
                }
            })
            .catch(error => console.error('Error saving conversation:', error));
    }
</script>
<%- include('templates/footer') %>
