<%- include('templates/header') %>
    <div class="mx-auto bg-white shadow-xl rounded-lg overflow-hidden h-dvh">

        <div class="p-4 flex items-center justify-between shadow">
            <a href="/settings" class="cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 text-gray-600 stroke-gray-600 icon icon-tabler icon-tabler-chevron-left" width="44"
                    height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M15 6l-6 6l6 6" />
                </svg>
            </a>
            <h2 class="text-lg font-semibold text-center flex-1">Change Password</h2>
            <div class="">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 stroke-white icon icon-tabler icon-tabler-chevron-left" width="44" height="44"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M15 6l-6 6l6 6" />
                </svg>
            </div>
        </div>

        <body class="">
            <div class='flex flex-col items-center h-dvh w-dvw'>
                <div id='spacer' class="bg-inherit h-[10%]"></div>
                <div class="text-center">
                    <h1 class="text-lg pb-2">Reset your password</h2>
                        <p class='pb-4'>Please enter a new password below.</p>
                        <% if (error) { %>
                            <% console.log(error) %>
                                <p class="text-red-400 mx-8 pb-4">
                                    Password must be 8-20 characters long, include at least one uppercase letter, one
                                    lowercase letter, one number, and one special character.
                                </p>
                                <% } %>
                </div>
                <form action="/settings/changePass" method="POST"
                    class="flex flex-col items-center w-full justify-center gap-y-4 text-center">
                    <input type="password" name="password"
                        class="focus:outline-none mx-auto bg-slate-50 w-1/2 min-w-52 py-4 rounded-lg border-primary border-2 font-semibold shadow-md px-4"
                        placeholder="Enter new password">
                    <input type="password" name="confirmPassword"
                        class="focus:outline-none mx-auto bg-slate-50 w-1/2 min-w-52 py-4 rounded-lg border-primary border-2 font-semibold shadow-md px-4"
                        placeholder="Confirm new password">
                    <button type="submit" id="reset"
                        class="bg-primary mx-auto text-white font-medium w-1/2 text-lg p-2 border-primary border-2 rounded-full shadow-md">Reset
                        Password</button>
                </form>
            </div>
            <%- include('templates/footer') %>