<%- include('templates/header') %>
<div class="flex items-center justify-center h-screen">
    <img src="/images/it.gif" alt="Full Screen GIF" class="w-full h-full object-cover">
</div>
<%- include('templates/footer') %>
