<%- include('templates/header') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts/dist/apexcharts.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <style>
        .chart-container {
            width: 600px;
            margin: auto;
        }
    </style>
    <div class="fixed w-full bg-white pb-2">
        <div class="flex flex-row">
            <img class="m-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="" height="75" width="75">
            <div>
                <p class="font-semibold text-xl mt-2" id="groupNameHere">Group 1</p>
                <p class="text-gray-400 text-xs pb-2" id="usersOfAGroupHere">User 1, User 2, User 3, and 4 more</p>
                <a href="/suggestedReimbursements" class="flex justify-center font-medium">
                    <p class="px-2 text-[#4b061a] outline outline-1 outline-[#4b061a] hover:bg-[#4b061a] hover:text-white rounded-lg flex flex-row items-center">
                        <span class="text-sm">Suggested Reimbursements</span>
                        <span class="pl-2 text-2xl mb-1">&#8250;</span>
                    </p>
                </a>
            </div>
        </div>
        <div class="text-black mt-2 flex mx-2 justify-center">
            <div class="flex flex-row border border-black rounded-full w-full justify-center">
                <button class="w-1/2 p-1 text-white bg-[#4b061a] rounded-full" id="showExpenses">Expenses</button>
                <button class="w-1/2 p-1 rounded-full" id="showBalances">Balances</button>
            </div>
        </div>
    </div>
    <div id="expenses" class="overflow-auto mt-[146px] mb-[70px] flex-col">
        <a href="/individualExpense" class="m-2 flex flex-row outline outline-2 p-3 rounded-xl">
            <div class="flex flex-col items-center">
                <p>May</p>
                <p>16</p>
            </div>
            <img class="mx-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="" height="40" width="40">
            <div>
                <div class="flex flex-row justify-between">
                    <p class="font-semibold">Wi-Fi</p>
                </div>
                <p class="text-sm text-gray-400 leading-3">Paid by: User 1</p>
            </div>
            <div class="flex flex-col ml-auto justify-center">
                <p class="flex font-medium text-xl">$95.97</p>
            </div>
        </a>
        <div class="m-2 flex flex-row outline outline-2 p-3 rounded-xl">
            <div class="flex flex-col items-center">
                <p>May</p>
                <p>14</p>
            </div>
            <img class="mx-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="" height="40" width="40">
            <div>
                <div class="flex flex-row justify-between">
                    <p class="font-semibold">Aquarium Tickets</p>
                </div>
                <p class="text-sm text-gray-400 leading-3">Paid by: User 1</p>
            </div>
            <div class="flex flex-col ml-auto justify-center">
                <p class="flex font-medium text-xl">$80.50</p>
            </div>
        </div>
        <div class="m-2 flex flex-row outline outline-2 p-3 rounded-xl">
            <div class="flex flex-col items-center">
                <p>May</p>
                <p>12</p>
            </div>
            <img class="mx-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="" height="40" width="40">
            <div>
                <div class="flex flex-row justify-between">
                    <p class="font-semibold">Concert Tickets</p>
                </div>
                <p class="text-sm text-gray-400 leading-3">Paid by: User 2</p>
            </div>
            <div class="flex flex-col ml-auto justify-center">
                <p class="flex font-medium text-xl">$208.96</p>
            </div>
        </div>
        <div class="m-2 flex flex-row outline outline-2 p-3 rounded-xl">
            <div class="flex flex-col items-center">
                <p>May</p>
                <p>11</p>
            </div>
            <img class="mx-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="" height="40" width="40">
            <div>
                <div class="flex flex-row justify-between">
                    <p class="font-semibold">Amazon Order</p>
                </div>
                <p class="text-sm text-gray-400 leading-3">Paid by: User 5</p>
            </div>
            <div class="flex flex-col ml-auto justify-center">
                <p class="flex font-medium text-xl">$30.40</p>
            </div>
        </div>
        <div class="m-2 flex flex-row outline outline-2 p-3 rounded-xl">
            <div class="flex flex-col items-center">
                <p>May</p>
                <p>11</p>
            </div>
            <img class="mx-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="" height="40" width="40">
            <div>
                <div class="flex flex-row justify-between">
                    <p class="font-semibold">Restaurant 2</p>
                </div>
                <p class="text-sm text-gray-400 leading-3">Paid by: User 5</p>
            </div>
            <div class="flex flex-col ml-auto justify-center">
                <p class="flex font-medium text-xl">$80.88</p>
            </div>
        </div>
        <div class="m-2 flex flex-row outline outline-2 p-3 rounded-xl">
            <div class="flex flex-col items-center">
                <p>May</p>
                <p>09</p>
            </div>
            <img class="mx-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="" height="40" width="40">
            <div>
                <div class="flex flex-row justify-between">
                    <p class="font-semibold">Reimbursement</p>
                </div>
                <p class="text-sm text-gray-400 leading-3">Paid by: User 2</p>
            </div>
            <div class="flex flex-col ml-auto justify-center">
                <p class="flex font-medium text-xl">$90.44</p>
            </div>
        </div>
        <div class="m-2 flex flex-row outline outline-2 p-3 rounded-xl">
            <div class="flex flex-col items-center">
                <p>May</p>
                <p>09</p>
            </div>
            <img class="mx-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="" height="40" width="40">
            <div>
                <div class="flex flex-row justify-between">
                    <p class="font-semibold">Bubble Tea</p>
                </div>
                <p class="text-sm text-gray-400 leading-3">Paid by: User 3</p>
            </div>
            <div class="flex flex-col ml-auto justify-center">
                <p class="flex font-medium text-xl">$12.12</p>
            </div>
        </div>
        <div class="m-2 flex flex-row outline outline-2 p-3 rounded-xl">
            <div class="flex flex-col items-center">
                <p>May</p>
                <p>09</p>
            </div>
            <img class="mx-3" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="" height="40" width="40">
            <div>
                <div class="flex flex-row justify-between">
                    <p class="font-semibold">Ice Cream</p>
                </div>
                <p class="text-sm text-gray-400 leading-3">Paid by: User 3</p>
            </div>
            <div class="flex flex-col ml-auto justify-center">
                <p class="flex font-medium text-xl">$11.74</p>
            </div>
        </div>
    </div>

    <div id="balances" class="overflow-auto mb-[70px] mt-[135px] hidden">
    </div>

    <script src="/scripts/groups.js"></script>
    <%- include('templates/footer') %>