<%- include('templates/HeadTags') %>
<body class="bg-gradient-to-b from-white to-primary">
    <header class="sticky top-0">
        <div class="flex flex-row justify-between font-bold p-3 bg-primary items-center text-white h-[60px]">
            <div><a id="cancelIndividualExpense" href="/home">
                    Cancel
                </a></div>

            <div class="">
                <button type="submit" id="editExpense">Edit</button>
            </div>
        </div>
    </header>


<%- include('templates/footer') %>
