<%- include('templates/header') %>
<div class="fixed top-15 grid grid-cols-2 rounded-b-2xl text-xl w-full text-white  bg-primary px-8 pt-2 pb-4 shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px]"
id="usernameAndPic">
<div>
    <h1>Hi, <span class="" id="namegoesHere">User</span>!</h1>
    <div class="text-sm text-[#d3d0cb]">Ready to settle up?</div>
</div>
<img class="w-16 h-16 ml-auto rounded-full hover:cursor-pointer" id="homepagePic"
src="/images/homepageIconsAndPlaceholders/profilePicPlaceholder.svg" alt="">
</div>
<div class="mb-[102px]">
    <div class="flex justify-end mt-[100px] mx-3">
        <a class="hidden" href="/addFriend" id="addFriend">+ add friend</a>
        <a class="hidden" id="createGroup">+ create group</a>
        </div>
        
        <div class="text-black mt-2 flex mx-2 justify-center">
            <div class="flex flex-row border border-black rounded-full w-full justify-center">
                <button class="w-1/2 p-1 text-white bg-[#4b061a] rounded-full" id="showFriends">Friends</button>
                <button class="w-1/2 p-1 rounded-full" id="showGroups">Groups</button>
            </div>
        </div>
        <div class="m-3" id="friendSearch">
            <div class="outline outline-1 outline-[#d3d0cb] rounded-lg flex flex-row w-full">
                <input class="px-2  py-1 w-full" name="friendSearch" type="search" placeholder="Search for a friend ">
                <button id="friendSearchButton" class="justify-end px-2 mr-auto hover:cursor-pointer"><img class="w-8 h-8" src="/images/homepageIconsAndPlaceholders/search.svg" alt=""> </button>
            </div>
        </div>
        <div class="m-3 hidden" id="groupSearch">
            <div class="outline outline-1 outline-[#d3d0cb] rounded-lg flex-row w-full flex">
                <input class="px-2 py-1 w-full" name="groupSearch" type="search" placeholder="Search for a group ">
                <button id="groupSearchButton" class="justify-end px-2 mr-auto hover:cursor-pointer"> <img class="w-8 h-8" src="/images/homepageIconsAndPlaceholders/search.svg" alt=""> </button>
            </div>
        </div>
        
            <div id="friends" class="flex flex-col m-3 gap-3">
                <div class="flex flex-col gap-1">
                    <div class="flex flex-row shadow-md w-full bg-primary text-white justify-between p-3 items-center rounded-xl friend" id="friend4513211111">
                        <div class="flex flex-row items-center gap-4">
                            <img class="w-8 h-8 ml-auto rounded-full hover:cursor-pointer"
                            src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="">
                            <div>Friend 1</div>
                        </div>
                        <div class="flex flex-row gap-10">
                        <div class="">+$52</div>
                    </div>
                </div>
                <form action="/settleup" method="post" class="hidden hideManually fadeOut" id="formFriend4513211111">
                        <div class="flex flex-col justify-between gap-5 rounded-xl bg-white p-2 items-center mb-4 shadow-2xl text-black">
                            <input type="text" name="friend4513211111" id="" value="4513211111" class="hidden">
                            <div class="flex flex-col items-center justify-center">
                                <span class="" id="selectGroupDropDown4513211111">Select group <span id="arrow4513211111">&#x25BC;</span></span>
                                <ul class="rounded-lg justify-center gap-3 text-primary p-1.5 flex flex-row flex-wrap hidden fadeOut" id="groupChoices" name="groupToSettle">
                                    <li class="group border-primary border rounded p-1">group 1</li>
                                    <li class="group border-primary border rounded p-1">group 2</li>
                                    <li class="group border-primary border rounded p-1">group 3</li>
                                    <li class="group border-primary border rounded p-1">group 4</li>
                                </ul>
                            </div>
                            <div class="flex flex-row justify-evenly gap-3">
                            <div class="flex flex-row w-1/2 items-center gap-1 justify-end">
                                <label class="text-xl" for="amount">$</label>
                                <input class="text-center rounded-lg px-1 text-black w-1/2 p-1 focus:outline-none focus:border-b focus:border-primary" type="number" id="amount4513211111" name="amount4513211111" value="52">
                            </div>
                        <div class="flex flex-row items-center justify-start gap-2 w-1/2">
                            <span>in </span><input type="text" class="w-1/2 p-1 rounded-lg  text-primary border-b border-primary text-l text-center" name="4513211111" id="groupToSettle4513211111" disabled value="">
                        </div>
                    </div>
                    <div class="m-1 hidden hideManually fadeOut" id="selectGroupWarning4513211111">
                        Please select the group you want to settle up your friend in.
                    </div>
                    <div class="m-1 hidden hideManually fadeOut" id="EnterAmountWarning4513211111">
                        Please enter a valid amount to settle up.
                    </div>
                        <input class="text-primary border-primary border gap-3 rounded-xl hover:bg-primary hover:text-white bg-white px-3 py-2 fadeOut" type="button" id="submitSettle4513211111" value="Settle up">
                        <div class="flex-row justify-center items-center gap-3 hidden fadeOut" id="confirmGroup4513211111">
                            <input class="text-primary border border-primary gap-3 rounded-xl hover:bg-primary hover:text-white bg-white px-3 py-2" type="submit" id="confirmSettle4513211111" value="Confirm">
                            <input class="text-primary border border-primary gap-3 rounded-xl hover:bg-primary hover:text-white bg-white px-3 py-2" type="button" id="cancelSettle4513211111" value="Cancel">
                            
                        </div>
                    </div>
                    </form>
            </div>
            <div class="flex flex-row shadow-md w-full bg-primary text-white justify-between p-3 items-center rounded-xl friend" id="friend451322222">
                <div class="flex flex-row items-center gap-4">
                    <img class="w-8 h-8 ml-auto rounded-full hover:cursor-pointer" 
                    src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="">
                    <div>Friend 2</div>
                </div>
            
                <div class="flex flex-row gap-10">
                    <div>-$500</div>
                </div>
                </div>
            </div>
            <div id="groups" class="flex-col m-3 gap-3 hidden">
                <div class="flex flex-row shadow-md w-full justify-between p-3 rounded-lg items-center group">
                        <div class="flex flex-row items-center gap-4">
                            <img class="w-10 h-10 ml-auto rounded-full hover:cursor-pointer"
                            src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="">
                            <div class="flex flex-col gap-3 p-2 pb-4">
                                <span>Group</span>
                                <div class="relative flex items-center">
                                    <img src="/images/homepageIconsAndPlaceholders/profilepic.svg" class="w-4 h-4 rounded-full border-2 border-white absolute left-0">
                                    <img src="/images/homepageIconsAndPlaceholders/profilepic.svg" class="w-4 h-4 rounded-full border-2 border-white absolute left-3">
                                    <img src="/images/homepageIconsAndPlaceholders/profilepic.svg" class="w-4 h-4 rounded-full border-2 border-white absolute left-6">
            
                                </div>
                            </div>
                        </div>
            
                        <div class="flex flex-row gap-10">
                        <div>-$500</div>
                        <button>X</button>
                    </div>
                </div>
                <div class="flex flex-row shadow-md w-full justify-between p-3 rounded-lg items-center group">
                    <div class="flex flex-row items-center gap-4">
                        <img class="w-10 h-10 ml-auto rounded-full hover:cursor-pointer" 
                        src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="">
                        <div class="flex flex-col gap-3 p-2 pb-4">
                            <span>Group</span>
                            <div class="relative flex items-center">
                                <img src="/images/homepageIconsAndPlaceholders/profilepic.svg" class="w-4 h-4 rounded-full border-2 border-white absolute left-0">
                                <img src="/images/homepageIconsAndPlaceholders/profilepic.svg" class="w-4 h-4 rounded-full border-2 border-white absolute left-3">
                                <img src="/images/homepageIconsAndPlaceholders/profilepic.svg" class="w-4 h-4 rounded-full border-2 border-white absolute left-6">
        
                            </div>
                        </div>
                    </div>
        
                    <div class="flex flex-row gap-10">
                    <div>-$500</div>
                    <button>X</button>
                </div>
            </div>
                <div class="flex flex-row shadow-md w-full justify-between p-3 rounded-lg items-center group">
                    <div class="flex flex-row items-center gap-4">
                        <img class="w-10 h-10 ml-auto rounded-full hover:cursor-pointer" 
                        src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="">
                        <div class="flex flex-col gap-3 p-2 pb-4">
                            <span>Group</span>
                            <div class="relative flex items-center">
                                <img src="/images/homepageIconsAndPlaceholders/profilepic.svg" class="w-4 h-4 rounded-full border-2 border-white absolute left-0">
                                <img src="/images/homepageIconsAndPlaceholders/profilepic.svg" class="w-4 h-4 rounded-full border-2 border-white absolute left-3">
                                <img src="/images/homepageIconsAndPlaceholders/profilepic.svg" class="w-4 h-4 rounded-full border-2 border-white absolute left-6">
        
                            </div>
                        </div>
                    </div>
        
                    <div class="flex flex-row gap-10">
                    <div>-$500</div>
                    <button>X</button>
                </div>
            </div>
                <div class="flex flex-row shadow-md w-full justify-between p-3 rounded-lg items-center group">
                    <div class="flex flex-row items-center gap-4">
                        <img class="w-10 h-10 ml-auto rounded-full hover:cursor-pointer" 
                        src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="">
                        <div class="flex flex-col gap-3 p-2 pb-4">
                            <span>Group</span>
                            <div class="relative flex items-center">
                                <img src="/images/homepageIconsAndPlaceholders/profilepic.svg" class="w-4 h-4 rounded-full border-2 border-white absolute left-0">
                                <img src="/images/homepageIconsAndPlaceholders/profilepic.svg" class="w-4 h-4 rounded-full border-2 border-white absolute left-3">
                                <img src="/images/homepageIconsAndPlaceholders/profilepic.svg" class="w-4 h-4 rounded-full border-2 border-white absolute left-6">
        
                            </div>
                        </div>
                    </div>
        
                    <div class="flex flex-row gap-10">
                    <div>-$500</div>
                    <button>X</button>
                </div>
            </div>
                <div class="flex flex-row shadow-md w-full justify-between p-3 rounded-lg items-center group">
                    <div class="flex flex-row items-center gap-4">
                        <img class="w-10 h-10 ml-auto rounded-full hover:cursor-pointer" 
                        src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="">
                        <div class="flex flex-col gap-3 p-2 pb-4">
                            <span>Group</span>
                            <div class="relative flex items-center">
                                <img src="/images/homepageIconsAndPlaceholders/profilepic.svg" class="w-4 h-4 rounded-full border-2 border-white absolute left-0">
                                <img src="/images/homepageIconsAndPlaceholders/profilepic.svg" class="w-4 h-4 rounded-full border-2 border-white absolute left-3">
                                <img src="/images/homepageIconsAndPlaceholders/profilepic.svg" class="w-4 h-4 rounded-full border-2 border-white absolute left-6">
        
                            </div>
                        </div>
                    </div>
        
                    <div class="flex flex-row gap-10">
                    <div>-$500</div>
                    <button>X</button>
                </div>
            </div>
            </div>
            <div class="flex flex-row justify-center mt-10" id="addFriendSecondaryDiv">
                <a id="addFriendSecondary" href="/addFriend" class="flex flex-row items-center border py-3 px-9 text-primary border-primary gap-3 rounded-xl hover:bg-primary hover:text-white">
                    <img src="/images/homepageIconsAndPlaceholders/addFriend.svg" id="addFriendPic" class="w-8 h-8" alt=""> <span>Add a friend</span></a>
            </div>
            <div class="flex-row justify-center mt-10 hidden" id="addGroupSecondaryDiv">
                <a id="addGroupSecondary" class="flex flex-row items-center border py-3 px-7 text-primary border-primary gap-3 rounded-xl hover:bg-primary hover:text-white">
                    <img src="/images/homepageIconsAndPlaceholders/addGroup.svg" id="addGroupPic" class="w-8 h-8" alt=""> <span>Create a group</span></a>
            </div>
        </div>
        <script src="/scripts/main.js"></script>
<%- include('templates/footer') %>