<%- include('templates/header') %>
<div id="recentActivity" class="overflow-auto mb-[70px]">
    <a href="/individualExpense" class="usersActivity flex flex-row rounded-xl m-3 shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px]">
        <img class="ml-4" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="" height="50" width="50">
        <div class="flex flex-col text-xs m-4 text-gray-500 w-full mt-2">
            <div class="flex flex-row jusitfy-between text-black">
                <p class="text-lg font-semibold flex items-center">Group 1</p>
                <div class="flex ml-auto flex-col">
                    <p class="text-gray-500 text-center">Your split:</p>
                    <p class="text-xl font-semibold text-center">-$31.99</p>
                </div>
            </div>
            <p class="leading-4">Expense Total: $95.97</p>
            <p class="leading-4">Expense: Wi-Fi</p>
            <p class="leading-4">Paid By: User 1</p>
            <p class="leading-4">Paid for: You, User 1, User 4</p>
        </div>
    </a>
    <div class="usersActivity flex flex-row rounded-xl m-3 shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px]">
        <img class="ml-4" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="" height="50" width="50">
        <div class="flex flex-col text-xs m-4 text-gray-500 w-full mt-2">
            <div class="flex flex-row jusitfy-between text-black">
                <p class="text-lg font-semibold flex items-center">Group 3</p>
                <div class="flex ml-auto flex-col">
                    <p class="text-gray-500 text-center">User 4 settled up!</p>
                    <p class="text-xl font-semibold text-center">+$23.88</p>
                </div>
            </div>
        </div>
    </div>
    <div class="usersActivity flex flex-row rounded-xl m-3 shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px]">
        <img class="ml-4" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="" height="50" width="50">
        <div class="flex flex-col text-xs m-4 text-gray-500 w-full mt-2">
            <div class="flex flex-row jusitfy-between text-black">
                <p class="text-lg font-semibold flex items-center">Group 2</p>
                <div class="flex ml-auto flex-col">
                    <p class="text-gray-500 text-center">Your split:</p>
                    <p class="text-xl font-semibold text-center">-$45.87</p>
                </div>
            </div>
            <p class="leading-4">Expense Total: $45.87</p>
            <p class="leading-4">Expense: Dinner</p>
            <p class="leading-4">Paid By: User 1</p>
            <p class="leading-4">Paid for: You</p>
        </div>
    </div>
    <div class="usersActivity flex flex-row rounded-xl m-3 shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px]">
        <img class="ml-4" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="" height="50" width="50">
        <div class="flex flex-col text-xs m-4 text-gray-500 w-full mt-2">
            <div class="flex flex-row jusitfy-between text-black">
                <p class="text-lg font-semibold flex items-center">Group 4</p>
                <div class="flex ml-auto flex-col">
                    <p class="text-gray-500 text-center">User 1 settled up!</p>
                    <p class="text-xl font-semibold text-center">+$19.87</p>
                </div>
            </div>
        </div>
    </div>
    <div class="usersActivity flex flex-row rounded-xl m-3 shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px]">
        <img class="ml-4" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="" height="50" width="50">
        <div class="flex flex-col text-xs m-4 text-gray-500 w-full mt-2">
            <div class="flex flex-row jusitfy-between text-black">
                <p class="text-lg font-semibold flex items-center">Group 4</p>
                <div class="flex ml-auto flex-col">
                    <p class="text-gray-500 text-center">Your split:</p>
                    <p class="text-xl font-semibold text-center">-$7.16</p>
                </div>
            </div>
            <p class="leading-4">Expense Total: $36.50</p>
            <p class="leading-4">Expense: Coffee</p>
            <p class="leading-4">Paid By: User 4</p>
            <p class="leading-4">Paid for: You, User 1, User 2, User 4</p>
        </div>
    </div>
    <div class="usersActivity flex flex-row rounded-xl m-3 shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px]">
        <img class="ml-4" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="" height="50" width="50">
        <div class="flex flex-col text-xs m-4 text-gray-500 w-full mt-2">
            <div class="flex flex-row jusitfy-between text-black">
                <p class="text-lg font-semibold flex items-center">Group 1</p>
                <div class="flex ml-auto flex-col">
                    <p class="text-gray-500 text-center">Your split:</p>
                    <p class="text-xl font-semibold text-center">-$13.86</p>
                </div>
            </div>
            <p class="leading-4">Expense Total: $26.40</p>
            <p class="leading-4">Expense: Amazon Order</p>
            <p class="leading-4">Paid By: User 4</p>
            <p class="leading-4">Paid for: You, User 4</p>
        </div>
    </div>
    <div class="usersActivity flex flex-row rounded-xl m-3 shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px]">
        <img class="ml-4" src="/images/homepageIconsAndPlaceholders/profilepic.svg" alt="" height="50" width="50">
        <div class="flex flex-col text-xs m-4 text-gray-500 w-full mt-2">
            <div class="flex flex-row jusitfy-between text-black">
                <p class="text-lg font-semibold flex items-center">Group 3</p>
                <div class="flex ml-auto flex-col">
                    <p class="text-gray-500 text-center">Your split:</p>
                    <p class="text-xl font-semibold text-center">-$40.89</p>
                </div>
            </div>
            <p class="leading-4">Expense Total: $81.78</p>
            <p class="leading-4">Expense: Aquarium Tickets</p>
            <p class="leading-4">Paid By: User 4</p>
            <p class="leading-4">Paid for: You, User 2</p>
        </div>
    </div>
</div>
<%- include('templates/footer') %>