<div class="flex-grow flex flex-col justify-center items-center">
  <article class="flex flex-row items-center justify-center relative w-full">
    <h1 class="flex-1 text-center">Set Budget</h1>
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x absolute right-0" width="30"
      height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
      stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M18 6l-12 12" />
      <path d="M6 6l12 12" />
    </svg>
  </article>

  <article class="flex flex-col items-center rounded-xl bg-[#D3D0CB] p-9 mt-4">
    <div>
      <div class="flex flex-auto justify-between items-center">
        <div class="text-lg">Budget:</div>
        <div class="bg-[#E7E5DF] rounded-xl">
          <span class="mr-1 px-3">$</span>
          <input type="text" class="rounded-xl bg-[#E7E5DF] p-2" placeholder="Enter Budget">
        </div>
      </div>
      <br>
      <div class="flex flex-auto justify-between grid-flow-row">
        <div>
          <button class="bg-[#E7E5DF] hover:bg-[#afaaa1] container px-5 rounded-xl text-xs">Month</button>
        </div>
        <div>
          <button class="bg-[#E7E5DF] hover:bg-[#afaaa1] container px-5 rounded-xl text-xs">6 Month</button>
        </div>
        <div>
          <button class="bg-[#E7E5DF] hover:bg-[#afaaa1] container px-5 rounded-xl text-xs">Year</button>
        </div>
      </div>
      <br>
      <p class="text-sm">Categories:</p>
      <br>

      <div class="bg-[#afaaa1] rounded-lg p-4">
        <div class="p-2">
          <div class="flex flex-auto bg-[#E7E5DF] rounded-xl items-center px-5">
            <span class="flex items-center text-xs">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-filled" width="12"
                height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M7 3.34a10 10 0 1 1 -4.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 4.995 -8.336z"
                  stroke-width="0" fill="currentColor" />
              </svg>
              <span class="ml-2">category1</span>
            </span>
            <div class="flex items-center bg-[#E7E5DF] rounded-xl p-2 text-xs">
              <span class="mr-1">$</span>
              <input type="text" class="bg-transparent outline-none" placeholder="Enter Budget">
            </div>
          </div>
        </div>
        <div class="p-2">
          <div class="flex flex-auto bg-[#E7E5DF] rounded-xl items-center px-5">
            <span class="flex items-center text-xs">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-filled" width="12"
                height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M7 3.34a10 10 0 1 1 -4.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 4.995 -8.336z"
                  stroke-width="0" fill="currentColor" />
              </svg>
              <span class="ml-2">category2</span>
            </span>
            <div class="flex items-center bg-[#E7E5DF] rounded-xl p-2 text-xs">
              <span class="mr-1">$</span>
              <input type="text" class="bg-transparent outline-none" placeholder="Enter Budget">
            </div>
          </div>
        </div>
        <div class="p-2">
          <div class="flex flex-auto bg-[#E7E5DF] rounded-xl items-center px-5">
            <span class="flex items-center text-xs">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-filled" width="12"
                height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M7 3.34a10 10 0 1 1 -4.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 4.995 -8.336z"
                  stroke-width="0" fill="currentColor" />
              </svg>
              <span class="ml-2">category3</span>
            </span>
            <div class="flex items-center bg-[#E7E5DF] rounded-xl p-2 text-xs">
              <span class="mr-1">$</span>
              <input type="text" class="bg-transparent outline-none" placeholder="Enter Budget">
            </div>
          </div>
        </div>
        <div class="p-2">
          <div class="flex flex-auto bg-[#E7E5DF] rounded-xl items-center px-5">
            <span class="flex items-center text-xs">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-filled" width="12"
                height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M7 3.34a10 10 0 1 1 -4.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 4.995 -8.336z"
                  stroke-width="0" fill="currentColor" />
              </svg>
              <span class="ml-2">category4</span>
            </span>
            <div class="flex items-center bg-[#E7E5DF] rounded-xl p-2 text-xs">
              <span class="mr-1">$</span>
              <input type="text" class="bg-transparent outline-none" placeholder="Enter Budget">
            </div>
          </div>
        </div>
        <div class="p-2">
          <div class="flex flex-auto bg-[#E7E5DF] rounded-xl items-center px-5">
            <span class="flex items-center text-xs">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-filled" width="12"
                height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M7 3.34a10 10 0 1 1 -4.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 4.995 -8.336z"
                  stroke-width="0" fill="currentColor" />
              </svg>
              <span class="ml-2">category5</span>
            </span>
            <div class="flex items-center bg-[#E7E5DF] rounded-xl p-2 text-xs">
              <span class="mr-1">$</span>
              <input type="text" class="bg-transparent outline-none" placeholder="Enter Budget">
            </div>
          </div>
        </div>
      </div>
      <div class="p-10 pb-6 flex justify-center">
        <button
          class="px-6 py-2 rounded-xl bg-[#E7E5DF] hover:bg-[#afaaa1] items-center flex justify-center text-xs sm:text-base md:text-lg lg:text-xl">
          SAVE
        </button>
      </div>
    </div>
  </article>
</div>