<%- include('templates/HeadTags') %>
<!-- suggested reimbursements start -->
    <header class="sticky top-0">
        <div class="flex flex-row justify-between font-bold p-3 bg-primary items-center text-white h-[60px]">
            <div>
                <button class="text-4xl flex flex-row items-center pl-1 mb-2" id="backIndividualExpense">
                    &#8249;
                </button>
            </div>
            <p class="flex justify-center w-full ">Reimbursements</p>
    </header>
    
    <ul class="mx-6 my-4 flex flex-col gap-2 mb-[120px]">
        <% Object.keys(debtInGroup).forEach(function(userId) { %>
            <%- include('templates/suggestedReimbursementsTemplate.ejs', {friendDebt : debtInGroup[userId], loggedUser: loggedUsername, userId: userId, groupId: groupId})%>
        <% }); %>  
    </ul>
<!-- suggested reimbursements end -->
    <script src="/scripts/reimbursement.js"></script>
    

<%- include('templates/footer') %>
