
<body>
    <footer class="fixed w-full bottom-0 rounded-3xl">
        <div class="grid grid-cols-5 bg-primary rounded-t-3xl pt-2">
            <div class="flex flex-col mb-1">
                <button id="homepageButton" href="/home" class=" flex justify-center py-1 pt-2 rounded-t-3xl"> <img
                        src="/images/navbarIcons/groups.svg" id="homepageIcon" class="w-8 h-8" alt=""></button>
                <label id="homepageLabel" for="homepageButton" class="text-xs text-center text-white">Home</label>
            </div>
            <div class="flex flex-col mb-1">
                <button id="personalButton" href="" class="flex justify-center py-[2px] pt-[10px] bg-primary"><img
                        src="/images/navbarIcons/personal.svg" id="personalIcon" class="w-8 h-8" alt=""></button>
                <label id="personalLabel" for="personalButton" class="text-xs text-center text-white">Personal</label>
            </div>
            <div class="flex flex-col mb-1">
                <button id="addExpenseButton" href=""
                    class="flex justify-center py-1 pt-2 bg-primary  rounded-t-3xl"><img
                        src="/images/navbarIcons/addExpense.svg" id="addExpenseIcon" class="w-8 h-8"
                        alt=""></button>
                <label id="addExpenseLabel" for="addExpenseButton" class="text-xs text-center text-white">Add</label>
            </div>
            <div class="flex flex-col mb-1">
                <button id="recentButton" href="" class="flex justify-center py-1 pt-2 bg-primary"><img
                        src="/images/navbarIcons/recent.svg" id="recentIcon" class="w-8 h-8" alt=""></button>
                <label id="RecentLabel" for="recentButton" class="text-xs text-center text-white">Recent</label>
            </div>
            <div class="flex flex-col mb-1">
                <button id="adviceButton" href="" class="flex justify-center py-1 pt-2 bg-primary rounded-t-3xl"><img
                        src="/images/navbarIcons/advice.svg" class="w-8 h-8" id="adviceIcon" alt=""></button>
                <label id="adviceLabel" for="adviceButton" class="text-xs text-center text-white">Advice</label>
            </div>

        </div>
    </footer>
    
</body>

</html>