<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>PennyWise</title>
    <link rel="shortcut icon" type="image/png" href="/images/navbarIcons/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan+SC&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">

    <!-- Tailwind Config -->
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: "#6E0924",
                        secondary: "#D3D0CB",
                    },
                },
            },
        }
    </script>
    <script src="/scripts/easterEgg.js"></script>
</head>

<body>
    <header class="sticky top-0 ">
        <div class="flex flex-row justify-between font-bold p-3 bg-primary items-center">
            <img src="/images/navbarIcons/logo.png" class="w-8 h-8 hover:cursor-pointer" id="logo" alt="logo">
            <% if (typeof groupName !=='undefined' ) { %>
                <div class="text-white" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                    <%= groupName %>
                </div>
                <% } else { %>
                    <div id="pennywise" class="text-white" style="font-family: Georgia, 'Times New Roman', Times, serif;">PennyWise
                    </div>
                    <% } %>
                        <div class="">
                            <a id="settingsButton" href="/settings"><img id="settingsIcon"
                                    src="/images/navbarIcons/settings.svg" class="w-9 h-9" alt=""></a>
                        </div>
        </div>
    </header>