<% if (!friend.username.includes("Deleted User")) { %>
    <option class="text-center username <%= group._id %>" id="<%= friend._id %>userName" value="<%= friend._id %>"><%= friend.username %></option>
<% } %>